@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	color-scheme: light;
	color: #3E6957;
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

button {
	@apply text-white;
	@apply bg-[#DD7143];
	@apply hover:bg-[#c57451];
	@apply active:bg-[#9e5e42];
	@apply rounded-lg;
	@apply py-1;
	@apply px-4;
}